.WeatherApp {
  width: 90%;
  position: absolute;
  margin-left: 4rem;
}

.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 2rem;
}
.navbar-text {
  font-size: 18px;
  padding-top: 15px;
}

.weather-summary-header {
  font-size: 1.5rem;
}

.weather-temp--today {
  font-size: 2.5rem;
  padding-top: 10px;
  float: left;
}

.weather-unit__text--today {
  color: black;
  float: left;
  font-size: 2.5rem;
  line-height: 1.5;
  padding-top: 10px;
}

.weather-detail__text {
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.day__block--selected {
  background-color: #fcfcfc;
  border-radius: 1px;
  border: 1px solid #e9e9e9;
}

.day__block-temp--max {
  margin-left: 5px;
}

.day__block-temp--min {
  margin-left: 5px;
}

.wind-speed {
  margin-left: 5px;
  margin-right: 3px;
}

.wind-direction {
  margin-left: 5px;
}
